html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 60px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

#myDatatable input { width: 100px!important;  }
#myDatatable .cell-min-width { width: 1%; white-space: nowrap; }
#myDatatable tr.group {
	background-color: #99ccff !important;
}
#myDatatable tr.group:hover {
    background-color: #79a2ff !important;
    cursor:pointer;
}
