html {
	position: relative;
	min-height: 100%;
}
body {
	padding-top: 70px; /* Adjust this value based on your header's actual height */
	margin-bottom: 60px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}
.starter-template {
  padding: 0 1.5rem 3rem 1.5rem;
  text-align: center;
}

#myDatatable input { width: 100px!important;  }
.dataTable .cell-min-width { width: 1%; white-space: nowrap; }
.dataTable tr.group {
	background-color: #99ccff !important;
}
.dataTable tr.group:hover {
    background-color: #79a2ff !important;
    cursor:pointer;
}
.dataTable .dtr-data .form-control {
	display: inline;
}
